@font-face {
  font-family: Roboto;
  src: url(../libr/font/Roboto-Regular.ttf);
}
.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  background-color: #7ba7ba;
}
.topnav .search {
  width: 100%;
  font-size: 14px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  width: 30%;
}
.topnav .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 30%;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0px;
}
.topnav .sort button {
  border: 2px solid #f0ad4e;
  border-radius: 5px;
  background-color: #f0ad4e;
  color: #fff;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.topnav .sort .active,
.topnav .sort .button:hover {
  background-color: #9d5a1e;
  color: white;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.column {
  margin: 15px;
}
.column .title {
  text-align: left;
}
.video-wrap {
  position: relative;
}
.rating-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  padding: 0px 2px;
}
.rating-wrap p {
  margin: 0;
}
.thumb {
  width: 15px;
  height: 15px;
}
.tags-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 20%;
}
.tags {
  color: #fff;
  background-color: #999;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}
.tagdat-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
