<!DOCTYPE html>
<html lang="en" ng-app="dataApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="affiliate, marketing">
    <meta name="description" content="Affiliate Marketing">
    <link rel="stylesheet" href="css/scss/style.css">
    <title>Affiliate Marketing</title>
    <!--<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-controller="dataCtrl">
    <header></header>
    <main>
        <div class="main_width">
            <div class="main_position">
                <aside>
                    <div class="aside__select-sity">
                        <h2 class="aside__title">city</h2>
                        <div class="custom-select">
                            <select ng-model="city" ng-options="city.city for (city, city) in data">
                            </select>
                        </div>
                    </div>
                    <div>
                        <h2 class="aside__title">categories</h2>
                        <div class="aside__categor">
                            <div class="categor__item-wrap" ng-repeat="categ in data | unique: 'category'">
                                <label for="{{categ.id}}" class="categor__item">{{categ.category}}
                                    <input type="checkbox" id="{{categ.id}}" ng-model="categ.on">
                                    <span class="checkmark"></span>
                                </label>
                                <span class="categor__amount">(11)</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 class="aside__title">price</h2>
                        <div class="aside__rangeslider">
                            <input value="1" min="{{minPrice}}" max="{{maxPrice}}" type="range" data-ng-model="ui.min">
                            <input value="200" min="{{minPrice}}" max="{{maxPrice}}" type="range" data-ng-model="ui.max">
                            <span class="rangeslider__value"></span>
                            <button class="rangeslider__button">filter</button>
                        </div>
                    </div>
                </aside>
                <section>
                    <div class="card" ng-repeat="card in data | categoryFilter:(data|filter:{on:true}) | filter:city | rangeFilter:'price':ui.min:ui.max | orderBy:ui.sort">
                        <div class="card__img_wrap">
                            <img src="{{card.image}}" alt="card">
                            <div class="card__city">{{card.city}}</div>
                        </div>
                        <div class="card__info">
                            <p class="card__text">Affiliate Marketing - A Beginner's Guide to Earning Online</p>
                            <div class="card_infodown">
                                <p class="card__categ">{{card.category}}</p>
                                <p class="card__amount">${{card.price}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer></footer>
    <script type="module" src="js/common.js"></script>
</body>

</html>